*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

body { 
  font-family: Pexico-Regular;
  box-sizing: border-box; 
  padding: 0 4rem;
  color: #fff;
  background-color: #000;
  
}

/*grid system*/

.row {
  max-width: 114rem;
  margin: 0 auto; 
}
  
  .row:not(:last-child) {
    margin-bottom: 8rem; 
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both; 
  }
  
  .row [class^="col-"] {
    float: left; 
  }
    
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; 
    }

  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); 
  }


  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); 
  }

/*background video*/

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    overflow: hidden;
}

/*seo optimization for the title*/
.heading-primary {
  visibility: hidden;
}

.heading-search {
    width: 100%;
    padding: .7rem 0;
    background-color: black;
    border-bottom: solid white .1rem;
    border-top: solid white .1rem;
    border-right: none;
    border-left: none;
    margin: 1rem 0 2rem 0;
    font-size: 1rem;
}

/*logo title*/
.vv-logo {
    width: 18rem;
    padding-bottom: 2rem
}